body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	padding-left: 10%;
	padding-top: 50px;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 10s ease infinite;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1,th, p, button {
	font-family: 'Open Sans';
}
table{
	width: 90%;
border-bottom: 1px solid #ddd;}


th, td {
  border-bottom: 1px solid #ddd;
}
button{
	background-color: 	transparent;
	border: 2px solid white;
	color:white;
	width: 25%;
	border-radius: 12px;
	font-size: 24px;
	cursor: pointer;
}

button span {
  cursor: pointer;
  transition: 0.5s;
}

button span:after {
  content: '+';
  opacity: 0;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.newGame{
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}
/*tr:hover {background-color: 	#C0C0C0;}*/
#play{
	width:50%;
	background-color: transparent;
}

.kitten{
	border-radius: 100%;
	height: 60px;
	width: 60px;
}

.textobold{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 70%;
	margin: 0 2px
}

.perfilTweet{
	font-size: 30px;
	display: flex;
	flex-direction: row;
}
.opacity{
	opacity:0.5;
}
button:disabled{
	opacity:0.3;
	background-color: transparent;
	cursor: auto;
}
.spinning{
  width: 200px;
  height: 201px;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.black{
	font-size: 30px;
	display: flex;
	flex-direction: row;
}
.row{
	display: flex;
	margin-left: 100px;
	flex-direction: column;
	width:500px;	
}
.gameButton{
	color:black;
	
}
.flex{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}
.margin{
	margin-top: 30px;
}

.ganador{
	background-color: green;
	border-radius: 50px;
	margin-top: 20px;
}
.clase{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}