<button id="newGame" >
  <LinkTo
    @route="application"

  >
    EXIT
  </LinkTo>
</button>

<p>{{this.model.games.code}}</p>
<p>{{this.model.games.status}}</p>
<p>{{this.model.games.total_users}}</p>
