<JuegosActivos  @handleSubmit={{this.onSubmit}}/>
<select>
  {{#each model.users as |user|}}
		<option value={{user.id}}>{{user.username}}</option>
	{{/each}}
</select>
<h1>Active Games</h1>
<GameList @games={{model.games}} />
